<div *ngIf="issueDetails; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <h2 style="float: left;">{{ issueDetails.title }}</h2>

  <a class="ui large right corner label" [routerLink]="['/ideas']">
    <i class="reply icon" style="cursor: pointer;"></i>
  </a>

  <div class="ui horizontal divider" style="clear: both;"></div>

  <markdown-to-html [data]="issueDetails.body"></markdown-to-html>
</ng-template>
<ng-template #elseBlock>
  <h2 class="ui center aligned icon header">
    <i class="cloud icon"></i>
    <div class="content">
      No Idea Found
      <div class="sub header">Return <a [routerLink]="['/ideas']">home</a></div>
    </div>
  </h2>
</ng-template>
